<!DOCTYPE html>
<html lang="en">
<head>
  <title>Menu Register - Web Deteksi Luka</title>
  <link rel="icon" href="/static/image/logo.png">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <video autoplay loop muted plays-inline class="videoback">
      <source src="/static/image/background.mp4" type="video/mp4">
    </video>
    <form method="post">
      <h1 class="glowing-text">Form Pendaftaran</h1><br>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required><br><br>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required><br><br>
      <input type="submit" value="Daftar">
    </form>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</body>
</html>